.hidden {
  display: none !important;
}

#cnv {
  width: 100%;
  height: 100%;
}

.ranking {
  position: fixed;
  width: 300px;
  background: #333;
  top: 100;
  left: 0;
  color: white;
  padding: 10px;
}

.ranking table {
  border: 0;
  border-collapse: 0;
  width: 100%;
}

.delay {
  position: fixed;
  right: 20px;
  top: 10px;
  color: #333;
  font-size: 30px;
}